@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background-color: white;
		max-width: 1200;
		margin: 0 auto;
		color: #fff;
		font-weight: 400;
	}
	.container-icon{
		width: 40px;
		float: right;
		line-height: 125px;
	}
	img{
		max-width: 100%;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: white;
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
		background-color: #19274e;
		display: flex;
		justify-content: space-between;
		z-index: 10;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-weight: 400;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		font-weight: 400;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #536d88;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
		z-index: 20;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #0f132e;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #536d88;
		background: #19274e;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
	/*Productos*/

	.container-items{
		margin: 200px 100px;
		display: grid;
		grid-template-columns: 
		repeat(
			auto-fit,
			minmax(350px, 1fr)
		);
		gap: 32px; 
	}

	.container-items h2{
		color: black;
	}

	.item{
		border-radius: 10px;
		transition: all 0.9s;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.item:hover{
		transform: scale(1.1);
		position: relative;

	}
	.item:hover{
		box-shadow: 0 10px 20px rgba(0,0,0,0.20);
	}



	.item img{
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 10px 10px 0 0;
		transition: all .1s;
	}

	.item figure{
		overflow: hidden;
		border-radius: 10px;

	}

	.item:hover img{
		position: relative;

	}


	.info-producto{
		padding: 15px 30px;
		line-height: 2;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.container-items p{
		color: black;	
		font-weight: 900;
		font-size: 18px;
	}

	.item button{
		background-color: #19274e;
		padding: 15px;
		color: #fff;
		border-radius: 10px 0 10px 0;
	}
	.item:hover button{
		background-color: #536d88;
		padding: 15px;
		color: #fff;
	}

	.item button{
		width: 100%;
		height: 100px;
		object-fit: cover;
		border-radius: 10px 10px 0 0;
		transition: all .1s;
		cursor: pointer;
	}

	.item:hover button{
		transform: scale(1.02);
		position: relative;

	}


